/***Front***/
header{
  position: fixed;
  z-index: 20;
  width: 100%;
}
main {
  margin-top: 85px;
}

.region-breadcrumb{
  position: sticky;
  top: 85px;
  z-index: 2;
}
.view-todos-los-productos .view-content, .view-display-id-page_1 .view-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.view-todos-los-productos .views-row, .view-display-id-page_1 .views-row{
  width: 200px;
  margin: 20px;
  margin-top: 50px;
}
.bg-dark{
	background-color: #383737 !important;
}
.navbar-nav.mr-auto li.nav-item a{
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
}
.navbar-nav.mr-auto li.nav-item a:hover{
  color: #fcd452;
}
.navbar-nav.mr-auto li.nav-item a.active.is-active{
  color: #fcd452 !important;
}
.container-fluid.slideshow_class{
	padding: 0px;
}
#block-views-block-slideshow-block-1 {
  width: 100%;
  height: auto;
}
#views-bootstrap-slideshow-block-1 .carousel-inner img{
	width: 100%;
	height: auto;
}
.card{
	background-color: #fbfbfb;
	border: 1px solid #fbfbfb;
}
.card-desc p{
	text-align: center;
	font-size: 13px;
}
.card-desc strong{
	font-weight: normal;
}
.card-title {
  text-align: center;
}
.card-title a{
	color: #000;
}
.card-text.list_price, .card-text.price{
  text-align: center;
  background-color: #A8DBCE;
  font-size: 14px;
  font-weight: bold;
  padding: 3px;
}
.views-row.card .views-field.views-field-variations-target-id {
  text-align: center;
}
.card-text.list_price {
  position: absolute;
  top: 0px;
  left: 0;
}
.price_tach {
  border: 1px solid #000;
  display: block;
  position: absolute;
  width: 92%;
  top: 13px;
}
#navbarSupportedContent .region.region-nav-main {
  display: flex;
  justify-content: space-between;
}
#block-th-cosmeticos-content {
  margin-top: 50px;
}
/*Menu categorias*/
#block-categoriasfiltromenu ul{
  flex-direction: row;
}
#block-categoriasfiltromenu {
  padding: 10px;
  background-color: #fbfbfb;
}
#block-categoriasfiltromenu ul.nav.navbar-nav li.nav-item {
  border-left: 2px solid #A8DBCE;
  padding: 0px 10px 0px 10px;
  margin-left: 0px;
  margin-top: 8px;
}
#block-categoriasfiltromenu ul.nav.navbar-nav li.nav-item a{
  color: #000;
  text-decoration: none;
}
#block-categoriasfiltromenu ul.nav.navbar-nav li.nav-item:hover{
  background-color: #FA5401;
  color: #fff;

}
#block-categoriasfiltromenu ul.nav.navbar-nav li.nav-item:hover a{
  background-color: #FA5401;
  color: #fff;
}
#block-categoriasfiltromenu ul.nav.navbar-nav li.nav-item a:hover{
  color: #fff;
}
/*Interior*/
#block-views-block-galeria-producto-int-gal-blok {
  display: inline-block;
}
.product_int #block-th-cosmeticos-content {
  display: inline-block;
  max-width: 800px;
  vertical-align: top;
}
/*Interior carrousel*/
 /* The grid: Four equal columns that floats next to each other */
.cont_galer_int .column {
  margin: 5px;
}
/* Style the images inside the grid */
.cont_galer_int .column img {
  opacity: 0.8;
  width: 50px;
  cursor: pointer;
}
.cont_galer_int .column img:hover {
  opacity: 1;
}
/* Clear floats after the columns */
.row.cont_mini_img {
  margin: 0;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
/* The expanding image container (positioning is needed to position the close button and the text) */
.cont_galer_int .container.cont_img_grade {
  position: relative;
}
/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}
.cont_galer_int {
  max-width: 200px;
  margin-right: 20px;
}
.p_int_precio_lista {
  position: relative;
  display: inline-block;
}
.tach_pre_lis_int {
  border: 1px solid;
  width: 90px;
  display: block;
  position: absolute;
  top: 12px;
  right: 0;
}
.p_int_precio_lista {
  color: #565959 !important;
}
.p_int_precio {
  color: #FA5401;
}
.button--add-to-cart{
  background: #FA5401;
  border-color: #FA5401;
}
.logo_pie img{
  max-width: 200px;
}
.cont_pie {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.derechos p{
  text-align: center;
}
.redes_pie img{
  width: 100px;
}
.menu_pie{
  width: 256px;
  font-size: 13px;
}
footer.mt-auto.footer-dark.text-light.bg-secondary{
 background-color: #383737 !important;
}
/*Icono carrito de compras*/
  .icontext {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.icontext .icon-wrap {
    position: relative;
}
.icon-wrap.round {
    border-radius: 100% !important;
}
.icon-wrap {
    text-align: center;
}
.icon-xs {
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    display: inline-block;
}
.round {
    border-radius: 200px;
}
.text-light {
    color: #f8f9fa !important;
}
.bg-secondary {
    background-color: #6c757d !important;
}
.notify {
    position: absolute;
    top: -4px;
    right: -10px;
    display: inline-block;
    font-size: 75%;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    color: rgb(255, 255, 255);
    background-color: rgb(220, 53, 69);
    padding: 2px 5.6px;
    border-radius: 10px;
}
.icontext .text-wrap {
    line-height: 1.3;
    padding-left: 1rem;
}
.icono {
      line-height: 2;
}
/*Todos los botones naranjas*/
.btn-primary{
  background-color: #FA5401;
  border: 1px solid #FA5401;
}
.btn-primary:hover{
  background-color: #28a745;
  border: 1px solid #28a745;
}
.delete-order-item.button:hover{
  background-color: #dc3545;
  border: 1px solid #dc3545;
}
/*Proceso de compra formulario*/
#edit-login {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}
/*Tabla resumen de la compra*/
.checkout-order-summary table{
  width: 100%;
}
.checkout-order-summary table tbody tr td{
  padding: 5px;
}
.subtotal_resume_order {
  padding: 4px;
  text-align: right;
}
.js-form-item.form-item.js-form-type-number.form-type-number.js-form-item-quantity-0-value.form-item-quantity-0-value{
  display: flex;
  align-items: baseline;
  margin: 1px;
}
.js-form-item.form-item.js-form-type-number.form-type-number.js-form-item-quantity-0-value.form-item-quantity-0-value label{
  margin-right: 10px;
}
 .js-form-item.form-item.js-form-type-number.form-type-number.js-form-item-quantity-0-value.form-item-quantity-0-value input{
  width: 100px;
  padding: 2px 5px;
  height: auto;
}
.views-row.card .field--name-quantity{
  display: none;
}
/*Menu user*/
#block-useraccountmenu ul li a{
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}
#block-useraccountmenu ul li a:hover{
  color: #fcd452;
}

/* Medidas de celulares ***************************************************************************************************/
 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.nav-item {
  		margin-left: 10px;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

} 