/***Front***/
.view-todos-los-productos .view-content, .view-display-id-page_1 .view-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.view-todos-los-productos .views-row, .view-display-id-page_1 .views-row{
  width: 200px;
  margin: 20px;
}
.bg-dark{
	background-color: #383737 !important;
}
.navbar-nav.mr-auto li.nav-item a{
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
}
.container-fluid.slideshow_class{
	padding: 0px;
}
#block-views-block-slideshow-block-1 {
  width: 100%;
  height: auto;
}
#views-bootstrap-slideshow-block-1 .carousel-inner img{
	width: 100%;
	height: auto;
}
.card{
	background-color: #fbfbfb;
	border: 1px solid #fbfbfb;
}
.card-desc p{
	text-align: center;
	font-size: 13px;
}
.card-desc strong{
	font-weight: normal;
}
.card-title {
  text-align: center;
}
.card-title a{
	color: #000;
}
.card-text.list_price, .card-text.price{
  text-align: center;
  background-color: #A8DBCE;
  font-size: 14px;
  font-weight: bold;
  padding: 3px;
}
.views-row.card .views-field.views-field-variations-target-id {
  text-align: center;
}
.card-text.list_price {
  position: absolute;
  top: 0px;
  left: 0;
}
.price_tach {
  border: 1px solid #000;
  display: block;
  position: absolute;
  width: 92%;
  top: 13px;
}
/*Interior*/
#block-views-block-galeria-producto-int-gal-blok {
  display: inline-block;
}
.product_int #block-th-cosmeticos-content {
  display: inline-block;
  max-width: 800px;
  vertical-align: top;
}
/*Interior carrousel*/
 /* The grid: Four equal columns that floats next to each other */
.cont_galer_int .column {
  margin: 5px;
}
/* Style the images inside the grid */
.cont_galer_int .column img {
  opacity: 0.8;
  width: 50px;
  cursor: pointer;
}
.cont_galer_int .column img:hover {
  opacity: 1;
}
/* Clear floats after the columns */
.row.cont_mini_img {
  margin: 0;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
/* The expanding image container (positioning is needed to position the close button and the text) */
.cont_galer_int .container.cont_img_grade {
  position: relative;
}
/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}
.cont_galer_int {
  max-width: 200px;
  margin-right: 20px;
}
.p_int_precio_lista {
  position: relative;
  display: inline-block;
}
.tach_pre_lis_int {
  border: 1px solid;
  width: 90px;
  display: block;
  position: absolute;
  top: 12px;
  right: 0;
}
.p_int_precio_lista {
  color: #565959 !important;
}
.p_int_precio {
  color: #FA5401;
}
.button--add-to-cart{
  background: #FA5401;
  border-color: #FA5401;
}

/* Medidas de celulares ***************************************************************************************************/
 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.nav-item {
  		margin-left: 10px;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

} 